logs/*
scripts/*
Release/*
Release_x64/*
x64/*
obj/*
CppCheckResults.xml
*.dll
*.exe
config.lua
gen.release.lua
gen.proxydll.lua
*.bat
*.def
proxydll.lua
micromacro.cbp
micromacro.depend
micromacro.layout
remote.code.txt
src/encstring.h