logs/*
scripts/*
Release/*
Release_x64/*
x64/*
obj/*
CppCheckResults.xml
*.dll
*.exe
config.lua
gen.release.lua
gen.proxydll.lua
proxydll.lua
*.bat
*.def
micromacro.cbp
micromacro.depend
micromacro.layout
notes.txt