#include "winuser.h"
#define MANIFEST_RESOURCE_ID 1

MANIFEST_RESOURCE_ID RT_MANIFEST "micromacro.exe.manifest"
MAINICON ICON "micromacro.ico"


/* Include version and software info */
#define VOS_NT_WINDOWS32			0x00040004L
#define VFT_APP						0x00000001L

1 VERSIONINFO
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "SolarStrike Software"
			 VALUE "FileDescription", "MicroMacro Programmable Macro Software"
			 VALUE "InternalName", "MicroMacro 2"
			 VALUE "LegalCopyright", "MicroMacro"
			 VALUE "LegalTrademarks", "MicroMacro"
			 VALUE "OriginalFilename", "micromacro.exe"
			 VALUE "ProductName", "MicroMacro"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252 //language codes
	 }
}
